/node_modules
/public/hot
/public/storage
/public/images/news/*
/public/images/gifts/*
/public/images/courses/*
/public/thumbnails/news/*
/public/thumbnails/gifts/*
/public/thumbnails/courses/*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
